/* body {
      margin: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(350deg,#0b0624 50%, #291e03 90%, #061519 100%);
      font-family: 'Poppins', sans-serif;
      color: #333;
    }

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 600px;
  margin-top:inherit;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  padding-bottom: 30px;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(240, 233, 182, 0.586);
  color: #750707;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}

.text{
  color:rgb(250, 245, 248);
  font-size: 48px;
  font-weight: 700;
}

.underline{
  width: 61px;
  height: 6px;
  background: rgb(23, 13, 30);
  border-radius: 9px;
}

.inputs{
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 480px;
  height: 70px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  padding: 0 20px;
}

.input input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
}

.input input::placeholder {
  color: rgba(232, 222, 222, 0.917);
}


.forgot-password{
  padding-left: 62px;
  margin-top: 27px;
  color: rgb(239, 239, 236);
  font-size: 18px;
}

.forgot-password span{
  color: rgb(128, 240, 15);
  cursor: pointer;
}

.submit-container{
  display: flex;
  gap: 30px;
  margin: 60px auto;
}

.submit{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 59px;
  color: rgb(87, 142, 43);
  background: rgb(1, 19, 21);
  border-radius: 40px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}

.gray{
  background:whitesmoke;
  color: black;
} */